.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 51px;
    padding-top: 40px;
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 880px) {
    .profile {
        
        flex-direction: column;
        padding-top: 42px;
        padding-bottom: 36px;
        
    }

}