.element__heart {
    background-image: url("../../../images/heart.svg");
    background-repeat: no-repeat;
background-position: center;
background-color: rgb(255, 255, 255);
width: 22px;
height: 19px;
padding: 0;
border: 0;
}


.element__heart:hover {
    cursor: pointer;
    opacity: 0.5;
} 

.element__heart_active {
    background-image: url("../../../images/black-heart.svg");
  

}