@import url(./vendors/normalize.css);
@import url(./vendors/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__heart/element__heart.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__basket/element__basket.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__profile/popup__profile.css);
@import url(./blocks/popup/__profile/_subtitle/popup__profile_subtitle.css);
@import url(./blocks/popup/__profile/_title/popup__profile_title.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/_element/_active/popup_element_active.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/_element/popup_element.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__input/_error/popup__input_error.css);
@import url(./blocks/element/__like-count/element__like-count.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/profile/__button-change/profile__button-change.css);
@import url(./blocks/profile/__pencil/profile__pencil.css);
@import url(./blocks/element/__basket/_hidden/element__basket_hidden.css);
@import url(./blocks/element/__heart/_hidden/element__heart_hidden.css);